html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("./assets/images/bg_1.jpg");
  background-size: cover;
}

@font-face {
  font-family: 'FGG';
  src: url("./assets/fonts/FGG.ttf");
}

.game {
  position: relative;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .select-type-btn {
    position: absolute;
    top: 30px;
    left: 15px;
    padding: 4px 6px;
    outline: none;
    border-style: none;
    font-family: 'FGG';
    font-size: 16px;
    border-radius: 10px;
  }

  .next-player {
    position: absolute;
    top: 40px;
    right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    span {
      font-family: 'FGG';
      font-size: 16px;
      margin-right: 10px;
      display: block;
      line-height: 20px;
    }

    button {
      border-style: none;
    }
  }

  .board {
    margin: auto;
    background: url("./assets/images/board-bg3.jpg");
    background-size: cover;
    box-shadow: 0 0 10px #bbb;

    .board-row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      button {
        border-style: none;
        outline: none;
        margin: 0;
        touch-action: none;

        &.able-receive {
          background: rgba(255, 255, 255, 1);
          border: 1px dashed forestgreen;
          box-shadow: none;
        }
      }
    }
  }

  .btns {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 20px;

    button {
      border-style: none;
      outline: none;
      font-size: 20px;
      font-family: 'FGG';
      padding: 6px 10px;
      height: 35px;
      border-radius: 10px;
      margin-top: 10px;
      touch-action: none;
    }
  }
}

.am-modal-mask {
  background-color: rgba(0, 0, 0, 0.7);
}

.am-modal-wrap {
  .am-modal.am-modal-transparent {
    .am-modal-content {
      background-color: transparent;

      .am-modal-body {
        .modal-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img {
              display: block;
              width: 50px;
              height: 50px;
            }

            span {
              font-size: 24px;
              font-family: 'FGG';
            }
          }

          .player-num {
            h4 {
              font-family: 'FGG';
              margin: 10px;
              font-size: 16px;
            }

            .btns {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;

              button {
                width: 40%;
                border-style: none;
                font-size: 24px;
                font-family: 'FGG';
                padding: 6px 0;
                outline: none;
                margin: 5px 10px;
                display: block;
                border-radius: 8px;
              }
            }
          }

          .chess-color {
            h4 {
              font-family: 'FGG';
              margin: 10px;
              font-size: 16px;
            }

            .colors {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;

              .item {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 5px 10px;

                button {
                  width: 40px;
                  height: 40px;
                  border-style: none;
                  outline: none;
                  display: block;
                  border-radius: 20px;
                  touch-action: none;
                }

                img {
                  position: absolute;
                  width: 18px;
                  height: 18px;
                  display: block;
                  bottom: 0;
                  right: 0;
                }

                .black-mask {
                  position: absolute;
                  width: 40px;
                  height: 40px;
                  border-radius: 20px;
                  background-color: rgba(0, 0, 0, 0.5);
                  touch-action: none;
                }
              }

            }
          }

          .confirm {
            display: block;
            width: 100%;
            font-size: 25px;
            font-family: 'FGG';
            padding: 8px;
            border-radius: 10px;
            margin-top: 20px;
            border-style: none;
            touch-action: none;
          }
        }
      }
    }
  }
}